DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DATA_UPLOAD_MAX_NUMBER_FIELDS=none
TZ=Europe/Berlin
SQLITE_PATH=/app/data/app.sqlite3
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=60
